$font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
  "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$width-lg: 1200px;

//COLORS ----->

$red: #e31812;
$light-border: rgba(243, 232, 232, 0.778);
$dark-border: rgba(100, 100, 111, 0.2);
$black: rgba(44, 44, 44, 0.875);

$light-background: rgba(240, 240, 240, 0.38);
$light-background-card: rgba(240, 240, 240, 0.157);
