@import "../../sass/variables";

.container-ProductInformationContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  padding: 20px;
  align-items: center;

  .productPrice-ProductInformationContainer {
    padding-bottom: 20px;
    color: $black;
    span {
      color: $black;
      margin-right: 10px;
      font-size: 24px;
    }
  }
  .productName-ProductInformationContainer {
    padding-bottom: 20px;
    color: $red;

    span {
      color: $black;
      margin-right: 10px;
      font-size: 24px;
    }
  }
  .productAvailability-ProductInformationContainer {
    color: $black;
    font-size: 24px;
  }
}

.counter-ProductInformationContainer {
  margin-top: 10px;
  height: 30px;
  border: 1px solid $black;
  border-radius: 5px;
  padding-left: 10px;
}

.wrapper-image-ProductInformationContainer {
  border: 1px solid $light-border;
  border-radius: 20px;
  width: 410px;
  height: 410px;
  background-color: $light-background-card;

  &:hover {
    box-shadow: $dark-border 0px 7px 29px 0px;
  }
  .image-ProductInformationContainer {
  }
}

.btn-addToCart {
  margin-left: 70px;
  margin-right: 50px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  background-color: $red;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
  &:hover {
    box-shadow: $dark-border 0px 7px 29px 0px;
    font-size: 17px;
  }
}
